// Place all the styles related to the bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div{
  padding: 5px;
  .title{
    font-size: 1.5em;
  }
  .comments{
    font-size: 1em;
  }
  
  .description{
    font-size: 1.5em;
    border: 1px solid lightgray;
  }
}

